{% extends 'layout.html' %}
{% block title %} index {{title}} {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="style/index.css">
<script type="text/javascript" src="script/index.js"></script>
{% endblock %}
{% block content %}
	<form role="form">
	  <div class="form-group">
	    <label for="userName">用户名</label>
	    <input type="text" class="form-control" id="userName" placeholder="用户名">
	  </div>
	  <button  id="btnsubmit" type="submit" class="btn btn-info">提交</button>
	</form>
{% endblock %}