{% extends 'layout.html' %} {% block title %} index {{title}} {% endblock %} {% block head %}
<link rel="stylesheet" type="text/css" href="../styles/index.css">
<!-- <script type="text/javascript" src="../scripts/index.js"></script> -->
<script type="text/javascript" src="../scripts/addnum.js"></script>
<script src="https://cdn.bootcss.com/systemjs/0.20.19/system.js"></script>
<script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
<script type="text/javascript" src="../scripts/tag.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %} {% block content %}
<x-praise></x-praise>
<!-- <div class="containe">
	<div class="hand" id="thumb">
		<div class="figger finger01"></div>
		<div class="figger finger02"></div>
		<div class="figger finger03"></div>
		<div class="figger finger04"></div>
		<div class="figger finger05 thumb"></div>
		<div class="arm"></div>
	</div>
</div> -->
<span class="hide" id="animation">+1</span>
<script type="text/javascript">
	SystemJS.config({
		baseURL: '../scripts'
	});

	SystemJS.import('index.es.js').then(function (m) {
		$.extend({
			thumb: m.default.Thumb
		})
		callback();
	});

	function callback() {
		var f = new $.thumb(0, $("#thumb"));
		f.clickAction();
	}
</script>
{% endblock %}